# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/termtalk
/termtalk.exe
termtalk.db*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, consumed by `go tool cover`
*.out

# Go workspace file
go.work
go.work.sum

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Agent and Skill configurations (DOX)
.agents/
skills-lock.json
AGENTS.md
**/AGENTS.md
